:root{
    --black:#000;
    --pinkBackground:#FFF2ED;
    --purpleButton:#532980;
    --purpleHighlight: #A737FF;
    --pinkHighlight: #FF94D8;
    --white:#FFF;
}

body{
/* height: 100vh; */
background-color: var(--pinkBackground);
}

h1{
    font-size: 100px;
    text-align: center;
    float: inline-start;
}

#index-div{
   display: grid;
   /* grid-template-columns: 20% 20% 20% 20% 20%; */
   gap: 50px; 
   /* s */
   /* margin-top: 120px; */
width: 90%;
margin: auto;
}

#text-section{
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 150px;
    /* grid-row-start: 1;
    grid-row-end: 3; */
}

#image-section{
    grid-column-start: 3;
    grid-column-end: 5;
    /* grid-row-start: 4;
    grid-row-end: 5; */
    margin-top: 150px;
    margin-left: 20px;
    /* min-width: 400px; */
}

/* #region Navigation */
nav{
float: right;
/* background-color: #532980; */
width: 100vw;
}

#nav-list{
    float: right;
    margin-left: 40px;
    
}

#nav-list li{
    display: inline-block;
    margin-right: 40px;
    margin-top: 10px;
    
}

#nav-list li a{
    text-decoration: none;
    color: var(--black);
    font-size: 40px;
}

#data-vis{
    margin: 20px;
    text-decoration: none;
    color: var(--white) !important;
    font-size: 40px;
}

#data-vis-button{
background-color: var(--purpleButton);
border-radius: 20px;
text-align: center;
width: fit-content;
float: right;
/* top: -140; */

}

#check{
display: none;
}

.burger-button{
    font-size: 3px;
    color: var(--pinkHighlight);
    float: right;
    margin-right: 40px;
    line-height: 80px;
    cursor: pointer;
    display: none;
}
/* #endregion */