:root{
    --black:#000;
    --pinkBackground:#FFF2ED;
    --purpleButton:#532980;
    --purpleHighlight: #A737FF;
    --pinkHighlight: #FF94D8;
    --white:#FFF;
    --grey:#707070
}

body{
/* height: 100vh; */
background-color: var(--pinkBackground);
}

h1{
    font-size: 100px;
    text-align: center;
    float: inline-start;
}

#index-div{
   display: grid;
   /* grid-template-columns: 20% 20% 20% 20% 20%; */
   gap: 50px; 
   /* s */
   /* margin-top: 120px; */
width: 90%;
margin: auto;
}

#text-section{
    grid-column-start: 1;
    grid-column-end: 2;
    margin-top: 150px;
    /* grid-row-start: 1;
    grid-row-end: 3; */
}

#image-section{
    grid-column-start: 3;
    grid-column-end: 5;
    /* grid-row-start: 4;
    grid-row-end: 5; */
    margin-top: 150px;
    margin-left: 20px;
    /* min-width: 400px; */
    display: grid;
    gap: 10px;
    grid-auto-rows: 85px;
    grid-auto-columns: 85px;
    
}



/* #region movie Posters */

#img1{
    background-color: var(--white);
    grid-column: 1/3;
    grid-row: 1/3;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--grey);
}

#img2 {
    background-color: var(--white);
    grid-column: 5/6;
    grid-row: 1/3;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--grey);
}

#img3 {
    background-color: var(--white);
    grid-column: 7/8;
    grid-row: 1/2;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--grey);
}

#img4 {
    background-color: var(--white); 
    grid-column: 9/11;
    grid-row: 1/2;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--grey);
}

#img5 {
    background-color: var(--white);
    grid-column: 3/4;
    grid-row: 3/4;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--grey);
}

#img6 {
    background-color: var(--white);
    grid-column: 8/10;
    grid-row: 3/4;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--grey);
}

#img7 {
    background-color: var(--white);
    grid-column: 1/2;
    grid-row: 4/5;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--grey);
}

#img8 {
    background-color: var(--white);
    grid-column: 5/7;
    grid-row: 4/6;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--grey);
}

#img9 {
    background-color: var(--white);
    grid-column: 8/9;
    grid-row: 5/6;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--grey);
}

#img10 {
    background-color: var(--white);
    grid-column: 10/11;
    grid-row: 4/6;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--grey);
}

#img11 {
    background-color: var(--white);
    grid-column: 2/4;
    grid-row: 6/8;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--grey);
}

#img12 {
    background-color: var(--white);
    grid-column: 6/8;
    grid-row: 7/8;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--grey);
}

#img13 {
    background-color: var(--white);
    grid-column: 10/11;
    grid-row: 7/8;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--grey);
}


/* #endregion */

/* #region Navigation */
nav{
float: right;
/* background-color: #532980; */
width: 100vw;
}

#nav-list{
    float: right;
    margin-left: 40px;
    
}

#nav-list li{
    display: inline-block;
    margin-right: 40px;
    margin-top: 10px;
    
}

#nav-list li a{
    text-decoration: none;
    color: var(--black);
    font-size: 40px;
}

#data-vis{
    margin: 20px;
    text-decoration: none;
    color: var(--white) !important;
    font-size: 40px;
}

#data-vis-button{
background-color: var(--purpleButton);
border-radius: 20px;
text-align: center;
width: fit-content;
float: right;
/* top: -140; */

}

#check{
display: none;
}

.burger-button{
    font-size: 3px;
    color: var(--pinkHighlight);
    float: right;
    margin-right: 40px;
    line-height: 80px;
    cursor: pointer;
    display: none;
}
/* #endregion */

/* #region Data Visualisation */

#main-section {
    display:grid;
    gap:10px;
    margin: 20px;;
}

#legend-section{
    grid-column: 1/2;
}

#graph-section{
    grid-column: 2/5;
}

#graph{
    background-color: var(--white);
    height:600px;
    width: inherit;
    border-radius: 5px;
    border-color: var(--grey);
    border-style: solid;
    border-width: 1px;
    margin-right: 30px;
    margin-left: 30px;
}

#legend{
    background-color: var(--white);
    height: 200px;
    width: inherit;
    border-radius: 5px;
    border-color: var(--grey);
    border-style: solid;
    border-width: 1px;
    text-align: center;
    font-size: 25px;
}

#variable-container{
    background-color: var(--white);
    min-height: 200px;
    width: inherit;
    border-radius: 5px;
    border-color: var(--grey);
    border-style: solid;
    border-width: 1px;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}

.variable-drop{
background-color: var(--grey);
    height: 50px;
    width: inherit;
    border-radius: 5px;
    border-color: var(--grey);
    border-style: solid;
    border-width: 1px;
    text-align: center;
    font-size: 25px;
    margin: 20px;
}
/* #endregion */

/* #region Blog Cards  */

.blog-cards{
    max-width: 85vw;
    margin: auto;
    background-color: var(--white);
    border-style:solid;
    border-width: 0.5px;
    border-color: var(--pinkHighlight);
    border-radius: 15px;
    padding: 20px;
    display: grid;
    grid-auto-columns: 24%;
    gap: 10px;
    box-shadow: 1.5px 1.5px 5px var(--pinkHighlight);
    margin-top: 30px;
}

.blog-text{
    grid-column: 1/4;
    width: inherit;
}

.blog-image {
    grid-column: 4/5;
    width: inherit;
    background-color: var(--white);
    border-style: solid;
    border-width: 0.5px;
    border-color: var(--grey);
    border-radius: 15px;
}

/* #blog-main{
    margin-top: 60px;
    padding-top: 20px;
} */

/* #endregion */

/* #region Design Page */
#design-toggle{
    width: 30%;
    /* background-color: var(--white); */
    margin: auto;
    border-style: solid;
    border-width: 1px;
    border-radius: 15px;
    height: 65px;
    border-color: var(--pinkHighlight);
    display: flex;
    flex-direction: row;
    padding: 5px;
    text-align: center;
    font-size: 30px;
    justify-content: center;
}

#design-main{
    margin-top: 130px;
    position: absolute;
    width: 100%;
}

#selected{
    width: 50%;
    background-color: var(--pinkHighlight);
    border-radius: 15px;
    
}

#unselected a{
    text-decoration: none;
}

.design-container{
    display:flex;
    flex-direction: row;
    padding: 20px;
    margin-top: 40px;
    /* height: 70%; */
}

.design-image{
    width: 60%;
    height: 60vh;
    background-color: var(--white);
    margin-left: 20px;
    margin-right: 20px;
}

.design-divider{
    /* height: 100%; */
    width: 2.5px;
    background-color: var(--black);
    margin-left: 20px;
    margin-right: 20px;
}

.design-text-container{
    max-width: 30%;
    margin-left: 20px;
    margin-right: 20px;
}

.design-text-container h2{
    text-align: center;
}

/* #endregion */